.sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
}
body {
    color: hsl(0, 55%, 15%);
    background-color: hsl(120, 25%, 55%);
}
p:focus {
    background-color: yellow;
}
p {
    font-size: 20px;
}
@media (max-height: 800px)
{ p {
    font-size: 10px;
    }
}